name: Build minifilter and app

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build app and minifilter
      run: |
        choco install -y cmake nsis windowsdriverkit10 boost-msvc-14.3
        bash build.sh 
